# Build outputs
bin/
obj/

# Test and coverage outputs
TestResults/
coverage-report/
*.cobertura.xml
*.coverage
*.coveragexml

# Logs
logs/
*.log

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.slnLaunch.user

# Environment & secrets
appsettings.Development.json
*.env

# EF Migrations (we'll add later)
# Migrations/

# Node (for Angular later)
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

*.tmp
*.http
*.Backup
*.dbmdl

# Build artifacts and local reports
.artifacts/
*.build.log
*-build.log

# User Secrets
secrets.json

# Environment files
.env
.env.local
*.env
